@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-color: #00222D;
}

.container {
    height: 100vh;
    flex-direction: column;
    display: flex;
}

.header {
    padding-top: 20px;
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.searchbar-container {
    flex-direction: row;
}

.search-input {
    height: 32px;
    margin-left: 20px;
    border: 0;
    width: 400px;
    font-size: 25px;
    background-color: #00222D;
    border-bottom: 2px solid #00EBDD;
    color: #00EBDD;
    font-family:'Roboto', sans-serif;
}

.search-input::placeholder {
    color: #00EBDD;
    font-family:'Roboto', sans-serif;
}

.search-input:focus {
    outline: 0;
}

.main-container {
    flex: 7;
    margin-left: 100px;
    margin-right: 100px;
}

.footer {
    flex: 2
}

.title-text {
    color: #00EBDD;
    font-family:'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 40px;
}

.logo {
    width: 100px;
    height: 100px;
}

.page-count {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}

a {
    font-size: 20px;
    color: #fff;
    margin: 15px 5px;
}

.dim-screen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background: rgba(0,0,0,0.6);

}

a:hover {
    color: #a4a4a4;
    cursor: pointer;
}

.disabled-a {
    color: grey;
}

.selected-page {
    width: 25px;
    height: 25px;
    border: 1px solid #00EBDD;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
}

.not-selected-page {
    text-align: center;
    width: 25px;
    height: 25px;
    padding: 5px;
}
