@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-color: #00222D;
}

.container {
    height: 100vh;
    flex-direction: column;
    display: flex;
}


/* Header */

.header {
    padding-top: 20px;
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.title-text {
    color: #00EBDD;
    font-family:'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 40px;
}

.logo {
    margin-left: 30px;
    width: 100px;
    height: 100px;
}

/* Main */

.main-container {
    flex: 7;
    margin-left: 100px;
    margin-right: 100px;
}

.dim-screen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background: rgba(0,0,0,0.6);
}

/* Searchbar styling */

.searchbar-container {
    flex-direction: row;
}

.search-input {
    height: 32px;
    margin-left: 20px;
    border: 0;
    width: 400px;
    font-size: 25px;
    background-color: #00222D;
    border-bottom: 2px solid #00EBDD;
    color: #00EBDD;
    font-family:'Roboto', sans-serif;
}

.search-input::placeholder {
    color: #00EBDD;
    font-family:'Roboto', sans-serif;
}

.search-input:focus {
    outline: 0;
}

/* Footer */

.footer {
    flex: 3
}

.page-count {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}

a {
    font-size: 20px;
    color: #fff;
    margin: 15px 5px;
}

a:hover {
    color: #a4a4a4;
    cursor: pointer;
}

a:active {
    color: #fff;
}

.disabled-a:hover {
    color: grey;
    cursor: default;
}

.disabled-a {
    color: grey;
}

.selected-page {
    width: 25px;
    height: 25px;
    border: 1px solid #00EBDD;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
}

.not-selected-page {
    text-align: center;
    width: 25px;
    height: 25px;
    padding: 5px;
}

/* Responsiveness */

@media only screen and (max-width: 1024px) {

    body {
        overflow: hidden;
    }

    .container {
        height: 100%;
    }

    .main-container {
        margin-left: 10px;
        margin-right: 10px;
        width: 95%;
    }

    .search-input {
        width: 75%;
    }

    .searchbar-container{
        margin-left: 20px;
    }

    .header {
        padding-top: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    .title-text {
        font-size: 30px;
    }

    .logo {
        width: 50px;
        height: 50px;
    }

    .page-count {
        margin: 0;
        justify-content: center;
    }
}
